<div class="section" id="education" style="background-color:black;">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title" style="color: white;">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017- 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Jawaharlal Nehru National College Of Engineering
               </h4>
               <ul>
                <li> Jawaharlal Nehru National College Of Engineering is VTU Affiliated  </li>
                    <li>Completed B.E in Computer Engineering.</li>
                                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2017</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">PUC</div>
               <h4 class="category">Vikasa PU College
               </h4>
          
            </div>
          </div>
        </div>
      </div>
  
  </div>